@media (max-width:690px) {
    .outer{
        padding: 50px 20px;

    }
    .inner{
        flex-direction: column;
    }
    .first, .second{
        width: 100%;
    }
    h1{
        font-size: 20px;
    }
}