*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.outer{
    padding: 100px 20px;
    width: 100%;
    background-image: url('image/pexels-danila-popov-85164195-9007462.jpg');
    background-size: cover;
}
.inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
        column-gap: 160px;


}
img{
    width: 90px;
}
.first{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 50%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first-1{
    
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.said{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.image p:first-child{
    margin-bottom: 10px;
}
.second{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    padding: 40px ;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.cell{
    width: 100%;
}
input{
    width: 100%;
    height: 40px;
    font-size: 10px;
    border: solid #efefef;
    border-radius: 6px;
    
}
.fast{
    display: flex;
    column-gap: 6px;
}
.break{
    width: 50%;
}
select{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid #efefef;
    font-size: 10px;
}
#from{
    font-size: 10px;
    padding: 15px 0px;
    color: #d5d8db;
}
#last{
    height: 60px;
}
#sub{
    height: 30px;
    background-color: #1961ca;
    color: white;
    border: 0px solid;
    border-radius: 6px;
}
.icon::before{
    content: '\f058';
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    padding-right: 7px;
    font-size: 14px;
}